html {
		width: 90vw;
}
body {
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	color:#18181b ;
	background-color: #fafafa;
/*	max-width: 900px;*/
	display: flex;
	flex-direction: column;
}

/*Nav Bar/Header*/
.nav-item {
	margin-right: 2rem;
}
.nav-item a {
	text-decoration: none;
}
.nav-item a:hover {
	color: #facc15;
	transform: scale(1.2);
}
.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}
.nav-item:first-child {
	margin-right: auto;
	margin-left: 10px;
}

/*About Me*/
.about-container {
	display: flex;
	flex-direction: row;
}
.portrait {
	width: 300px;
	border-radius: 15px;
}
.about-container,
.project {
		padding-left: 5vw;
	padding-right: 5vw;
}

/*Projects*/
#projects h2 {
	padding-left: 5vw;

}
section {
	padding: 16px 0;
}
details {
	cursor: pointer;
}
.project-image {
	width: 50%;
}
.project-title h3 {
	display: inline;
}
summary {
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}














