* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #fafafa;
	color: #18181b;
}
a {
	text-decoration: none;
	color: #18181b;
}
header {
	display: flex;
}
nav {
	position: sticky;
	z-index: 5;
}

/*Nav Bar/ Header */
.title {
	padding-left: 1rem;
	padding-top: 1rem;
}
.nav-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 2rem;
}