@font-face {
	font-family: Minipax;
	src: url(Minipax-master/fonts/otf/Minipax-Regular.otf);
}
@font-face{
	font-family: Minipax;
	src: url(Minipax-master/fonts/otf/Minipax-Bold.otf);
	font-weight: bold;
}
@font-face{
	font-family: Sligoil;
	src: url(fonts/sligoil-main/fonts/Sligoil-Micro.otf);
}
html {
		width: 90vw;
		line-height: 1.1;
}
body {
	font-family: Minipax, serif;
	font-size: 22px;
	color:#18181b ;
	background-color: #E9F6D4;
	display: flex;
	flex-direction: column;
}
nav a {
	text-decoration: none;
	font-weight: 600;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: auto ;
	border-radius: 15px;
	background-color: rebeccapurple;
	color: #fafafa;
	font-size: 2rem;
	font-family: Sligoil;
	border: 1px solid #wheat;
}
/*Nav Bar/Header*/
.nav-item {
	margin-right: 2rem;
}
.nav-item a {
	text-decoration: none;
}
.nav-item a:hover {
	color: #facc15;
	transform: scale(1.2);
}
.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}
.nav-item:first-child {
	margin-right: auto;
	margin-left: 10px;
}
a {
	text-decoration: underline;
	color: #18181b;
}
a:hover {
	color: #facc15;
}
/*Footer list*/

.footer-item {
	margin-right: 2rem;
}
.footer-item a {
	text-align: none;
}
.footer-item a: hover {
	transform: scale(1.2);
} 
.footer-list{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}
/*About Me*/
.about-container {
	display: flex;
	flex-direction: row;
}
.portrait {
	width: 50%;
	height: 50%;
	border-radius: 15px;
}
.about-container,
.project,
.skills {
		padding-left: 5vw;
	padding-right: 5vw;
}
.about-text p{
	font-family: Sligoil;
}
/*Projects*/
#projects h2 {
	padding-left: 5vw;

}

.fortune div {
	display: hidden;
}
section {
	padding: 16px 0;

}
details {
	cursor: pointer;
		font-family: Sligoil;

}
.project-image {
	width: 50%;
}
.project-title h3 {
	display: inline;
}
summary {
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

#contact footer{
	padding-left: 5vw;
	padding-right: 5vw;
}

footer {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}
footer p {
	font-family: Sligoil;
}

footer img {
	width: 50px;
}

footer a {
	text-decoration: none;
}
/*screen width stuff*/

@media screen and (max-width: 760px) {
	body {
		background-color: mintcream;
	}
	.about-container {
		flex-wrap: wrap;
	}
	footer img {
		width: 50px;
	}
	footer p {
		font-size: 18px;
	}
}


